[2020-07-21 23:15] certik opened #1 "Implement manual registry"
The details are discussed at:

https://github.com/fortran-lang/fpm/issues/34

We should have a TOML file with a package name and a version / url combo for each version, something like:
[code]

We can discuss if we should allow the "latest" --- perhaps we should simply only allow specific versions, that seems to be the case with other package managers.

[2020-07-22 17:20] certik commented on #1
We now have the initial TOML file (https://github.com/fortran-lang/fpm-registry/blob/235aebc6968408e2e5468168d2873aaeef7cd07a/registry.toml), now we need to implement CI that will check that it is formatted correctly, and then to generate our rich metadata JSON file.

[2020-07-22 17:21] certik commented on #1
Regarding the "latest" --- I think we should allow it. I think it will allow `fpm` to download the latest development version of the package (and then lock the particular latest git commit in `fpm.lock`). So `fpm search` can list all versions plus the latest and users can choose.

[2020-07-22 18:51] certik opened #8 "How to handle package name conflicts"
Right now if somebody submits a PR with a duplicate name of a new package, such as:
[code]
Then our CI will give an error:
[code]

Which is great, so there will be no duplicates.

However, we should discuss how to handle package name conflicts. Two main options:

1. All package names will be made unique by prefixing them with their GitHub/GitLab organization name, so `M_calculator` becomes `urbanj

[2020-07-23 00:12] milancurcic commented on #8
I like option 2.

Guidelines could be same or similar to the [criteria for the package index](https://github.com/fortran-lang/fortran-lang.org/blob/master/PACKAGES.md#package-criteria). So, to submit a package to the registry and get it merged, your package would need to check all the boxes.

Then, it's first come first serve. I don't think this is necessarily bad. If somebody wants to get first t

[2020-07-23 00:18] milancurcic commented on #8
That being said, if we choose option 2 and decide to follow the guidelines, we'll need somewhat strict review process. Which is not what we did in my PR's to registry.toml today. I merely wanted to get some fpm packages in so we have stuff to look at and think about the format and design. However, it's quite likely that all the packages that are in registry.toml satisfy the criteria already.

[2020-07-23 03:00] certik commented on #8
I think Rust might not have a review. I know Python's pypi doesn't, you just upload.

We have a review, let's setup guidelines. I think that might go a long way.

I would also be for using a community consensus and common sense to maybe wait with common names such as fft or lapack to ensure those are high quality.

Yet another option is to maintain such common packages under fortran-lang.

On Wed,

[2020-07-23 06:39] arjenmarkus commented on #8
I like the idea of simple names as well - option #2. It also - certainly with a reviewing process in place - gives a certain status to the packages. If we decide at some point in time that a particular package should no longer be used, we can deprecate it and after a decent period rename it to "package-deprecated" or the like.
A review process would hinder the ad libitum submission of half-baked p

[2020-07-23 15:51] certik commented on #8
If we think that a new given package is not mature enough to use a common name like `fft`, we can suggest for the package to use a more unique name, such as `certik_fft` or something like that, then there is less of a problem getting it in, and then in a year or two, if the package matures and it is still the best candidate for the `fft` name, we can consider adding it as `fft`.

In other words, I

[2020-07-23 15:53] certik commented on #8
P.S. regarding deprecation, we should enforce semantic versioning like Cargo does. Let's say that an `fft` package should be replaced with a more maintained and a better version. We can simply bump the major semantic version after we replace the package. That way, no code will break. Current codes will continue using the old version, and if they want to upgrade to the old package but newer version

[2020-07-23 17:01] everythingfunctional commented on #8
I like option 2. And if anyone **really** wants their package to have a conflicting name in the future, they can stand up their own registry and have their users specify it like

[code]
or
[code]

[2020-08-01 11:31] LKedward opened #11 "Implement full metadata extraction to JSON"
I've made a start on this as part of listing fpm packages on fortran-lang.org, so creating an issue to assign.

As discussed in <https://github.com/fortran-lang/fpm/issues/34>, this is just a script that reads the `registry.toml` and generates an `index.json` file containing relevant data from the `fpm.toml` in each package. I'll then use this JSON file to list the fpm packages on the website.

[2020-08-07 13:55] #11 closed, assigned to LKedward

[2020-09-14 18:59] awvwgk opened #18 "Registry format / layout"
I just checked out this registry for fpm and noticed some rough edges. It is somewhat related to #1, but maybe worth a separate issue.

Specifying a project with multiple releases quickly gets redundant, imagine a package which releases on a regular basis, keeping the registry data up-to-date will quickly become a copy-and-paste approach
[code]

A slight improvement in my opinion would be to allow

[2020-09-14 20:40] certik commented on #18
The other idea I had was that it would automatically convert the version number "3.1" to a tag "v3.1". But others thought that might be too fragile, so we haven't implemented it. I still think it's a good idea to make this simpler and we should implement it. Your example could become:
[code]

[2020-09-14 21:12] awvwgk commented on #18
It is not clear if a version number will always match the version tag with a `v` prefixed, some projects use just the version number as a tag, some always prefix with `v` or with the project name. I even saw projects switching between releases back and forth. No doubt this would be fragile. But the other way round, specifying the tag as target and extracting the version number from the `fpm.toml`

[2020-09-28 21:49] urbanjost opened #19 "link to formatted registry list"
A few suggestions for minor changes to the "fpm packages" page and this registry README.md ...

It would be nice if this repository had a link to  the [fpm packages](https://fortran-lang.org/packages/fpm)page.

Note that page seems to be inconsistently sorted. It would be nice if the page were sortable  or selectable by categories as more packages are registered but for now it starts off looking s

[2020-09-28 22:55] certik commented on #19
Can you please send a PR to update the README with a link?

[2020-09-29 11:44] urbanjost commented on #19
I have to get more in the mindset of github. Added PR illustrating what I wanted. As recently new to this myself the first time I read this I was still learning what a tag and PR even were, let alone TOML and fpm(1) and what process should be followed. I felt I was digging around a lot to do something simple. I am even thinking some links to git(1) or github PR instructions might be needed as well

[2020-09-29 16:20] certik commented on #19
@urbanjost thank you. You are in a perfect position to improve the documentation to make things more intuitive. It is indeed hard for me, as I've been using Git and GitHub for over 10 years now almost every day. If you see how to improve any docs, please go ahead and submit a PR.

[2020-09-29 16:22] certik opened #22 "Failure in master?"
I got an email with this link with an error at our CI:

https://github.com/fortran-lang/fpm-registry/runs/1183248590

But I am not quite sure what the cause of it is.

@LKedward, any idea?

[2020-09-29 16:25] LKedward commented on #22
I'll take a look

[2020-09-29 16:27] LKedward commented on #22
My fault - I didn't pin the commit action to a specific version and there's been [a breaking change](https://github.com/EndBug/add-and-commit/releases).

[2020-09-29 16:28] certik commented on #22
Ah cool, thanks for figuring it out!

[2020-10-01 09:07] LKedward commented on #22
I believe this is now fixed so I will close.

[2020-10-01 09:07] #22 closed, assigned to nobody

[2020-10-02 21:59] #19 closed, assigned to nobody

[2020-10-04 15:30] awvwgk opened #24 "Required keywords for registry"
I wonder why we require `license`, `maintainer`, `author` and `copyright` to be present in the package manifest of a submitted package. Shouldn't `license` and `maintainer` be sufficient for a package to be valid?

Then the question is how we specify the maintainer properly, for all packages registered it is an email address so far, while `fpm new` with both bootstrap fpm and Fortran fpm will curr

[2020-10-05 15:32] milancurcic commented on #24
I agree. Without going into the specifics of each issue you raised, would the quick fix be to change this:

[code]

to

[code]

in the validate script?

[2020-10-05 15:48] certik commented on #24
Yes, let's improve this. I think we all agree on the issues you raised, we just have to figure out a way to improve it.

[2020-12-13 10:36] awvwgk opened #27 "Documentation is needed"
The documentation of the fpm-registry is currently not in a good shape. Good documentation is crucial to make a project like a package registry appealing for developers to actually submit their packages.

Currently, upon visiting the registry there are no guidelines on the scope and expectations of the registry, the packaging guidelines linked are for the package index at fortran-lang.org and not

[2020-12-13 17:10] milancurcic commented on #27
Thank you for starting this issue. I agree. I just looked at the README again and the first sentence says:

I think this is misleading. fpm-registry is for much more than the website. The relevant thread on the scope is in https://github.com/fortran-lang/fpm/issues/34.

These are tests for scope and basic quality of a package. Do you have ideas about how to improve them of make them fpm-specific?

[2020-12-13 17:31] awvwgk commented on #27
I agree, there is some overlap especially for the basic requirements. A first step would be a separate packaging guide in the fpm-registry repository, even if it basically contains the same information.

[2020-12-31 12:29] LKedward opened #29 "Improve error reporting in CI"
It's currently difficult to diagnose CI failures when submitting new packages because of how [github actions outputs `stdout` and `stderr`](https://github.community/t/stdout-stderr-output-not-in-correct-order-in-logs/16335). In short, the relevant part of the error message is not output near to which package is being processed.

I'm open to possible solutions. Perhaps:
- redirect `stderr` to `stdo

[2021-02-03 20:28] awvwgk commented on #27
I tried to restructure the README and add a packaging guide but it feels like I'm getting nowhere with this effort. Frankly, I'm still not getting a good hold on this project and its purpose in the fpm ecosystem, which is odd, because the purpose should be right there in the name itself.

There were a few things that seemed confusing to me. The project is a collection of python scripts (`load_regi

[2021-02-04 01:44] milancurcic commented on #27
Yes, this project is a bit ahead of its time and the infrastructure is ad hoc. I will try to answer some of your questions.

The answer may vary depending on whom you ask, but IMO the purpose of fpm-registry is to enable a future (not yet implemented) capability of fpm to search for packages and add them to the manifest from the command line. For example, an fpm user may look for string packages,

[2021-02-04 03:26] ghost commented on #27
Hi @milancurcic . I'm working on this functionality (not yet published).

Current state is
- download index.json from fortran-registry:  ✅
- parse index.json with [json-c](https://github.com/json-c/json-c):  ✅
- search package descriptions (case insensitive) with [libpcre](https://github.com/brocolis/fortran-pcre):  ✅
- display the results to the user: ❌
- add package to fpm.toml: ❌

[2021-02-04 11:33] awvwgk commented on #27
Thanks, for the clarification, having those information in the README would greatly improve the overall project in my opinion.

Regarding GSoC projects, I don't think this makes a good one until the documentation is improved and intent of this repo is made clearer, *i.e.* this issue is resolved.

[2021-02-04 17:24] milancurcic commented on #27
@brocolis Great to hear, please keep us posted when it's ready to play with, I'm excited.

[2021-02-17 19:04] awvwgk opened #31 "Duplicated entries in fpm registry"
Introduced with https://github.com/fortran-lang/fpm-registry/pull/30, both M_CLI2 and M_CLI now have two entries in the registry each. See https://fortran-lang.org/packages/search/?query=m_cli

[2021-02-24 21:33] urbanjost commented on #8
As an analogy, people often just had a first name; when ambiguities  began as populations grew and frequent communication between groups became common surnames and titles evolved. But in the modern world you have something akin to a Social Security number.

You might change your name or move  (I have renamed some repositories and forgotten how that might affect the registry, actually); but the num

[2021-03-03 08:19] awvwgk opened #33 "Index build is failing on default branch"
The index build failed on the default branch, probably due to a failed API request on a Gitlab repository (`jsonff`).

See https://github.com/fortran-lang/fpm-registry/runs/2006247844 for c650134be13a2644621ea774ddf7406de6e69104

[2021-03-03 08:21] awvwgk opened #34 "Index builder does not recognize valid manifest entries"
The index build currently warns for unknown entries in manifests like, *categories*, *keywords*, *homepage* and *install*. Those entries are valid as defined in the manifest reference in the fpm repository but not correctly recognized by the index builder.

[2021-03-12 13:58] awvwgk commented on #33
Resolved by restarting the CI

[2021-03-12 13:58] #33 closed, assigned to nobody

[2021-03-15 22:22] aslozada opened #35 "Store size of package in the index"
Should the ```fpm.toml``` file contain information about the size of the package?

The subroutines ```new_package``` and ```check```, in  the module ```fpm_manifest_package```, contain 18 keywords with information about a package, ```name```, ```author```, ```version```, etc. However, no keyword provides information about the size of the package. 

An idea,
1. Build the package
2. Update the file

[2021-03-15 22:30] milancurcic commented on #35
What is the size of a package? Many things come to mind: Number of modules, procedures, source files, dependencies? Number of lines of code? Number of bytes on disk of source files? Number of bytes of the binaries?

What is it useful for?

[2021-03-16 11:40] LKedward commented on #35
Thanks for opening @aslozada but I think there may be some misunderstanding about the role of the `fpm.toml` file.

`fpm.toml` is an **input file written by the user** to specify the necessary information to build and distribute the package; it is not a cache for metadata and properties of the package. Put another way, `fpm.toml` describes inputs (akin to independent variables) whereas the 'size'

[2021-03-16 11:42] ghost commented on #35
I think the information about the package size is useful in this scenario: a package contains many dependencies or a huge dependency (several GB of data) and we're in limited internet connection. I think _fpm_ could display a message like this one: "I will download N GB of data. Do you want to continue?". This information could be stored in fpm-registry.

[2021-03-16 11:48] LKedward commented on #35
Yes I agree, this type of information would be well-suited to the fpm-registry which is setup extract and cache such data.

[2021-03-16 13:01] aslozada commented on #35
Thanks, @LKedward.

The proposal is related to the scenario described by @brocolis. I thought that the file ```fpm.toml``` would be appropriate to contain this information. Of course, this file would be modified after building the package. Now I see that this procedure could be impractical.

[2021-03-16 13:39] LKedward commented on #35
Thanks @aslozada and @brocolis, the scenario makes sense for a central registry; providing more information about packages and their dependencies prior to downloading them is one of the motivations for developing a central fpm-registry. I'll move this issue to fpm-registry so that it can be tracked there.

[2021-03-16 15:02] certik commented on #35
Indeed, the fpm-registry should automatically extract this information and make it available.

[2021-03-18 15:19] ivan-pi opened #36 "More Fortran packages"
I've found a few more Fortran packages I will try to add one by one:

* [ ] Fortran processing library: http://www.biosfera.dea.ufv.br/fpl/index.html
* [ ] 2DECOMP & FFT: http://www.2decomp.org/decomp_api.html
* [ ] SLICOT: http://slicot.org/
* [ ] FORTRAN Routines for Spectral methods: https://cdm.unimore.it/home/matematica/funaro.daniele/rout.htm
* [ ] NUFFT: https://cims.nyu.edu/cmcl/nufft/nuff

[2021-03-18 16:07] certik commented on #36
Very good, great job finding them.

[2021-03-18 16:21] awvwgk commented on #36
Should those go in the package index at fortran-lang.org or be ported to fpm packages and registered here (requires upstream adoption)?

[2021-05-12 08:49] zoziha opened #41 "add `forlab` package"
Keurfonluu originally developed the two packages of [Forlab](https://github.com/keurfonluu/Forlab) and [FFTPack -- a interface package](https://github.com/keurfonluu/FFTPack), which I think are good. Now I submit the `Forlab` package separately to the fpm-registry. I hope I will try to maintain this package later.
Thank keurfonluu!

---
Maybe it's not perfect right now, but it will get better.

[2021-05-16 01:23] dhermes opened #43 "Add QUADPACK to `fpm` registry"
I actually would be willing to do **all** of the work here but am not sure where to start.

AFAICT the [original source][1] has been converted to Fortran 90 by John Burkardt ([single][2] and [double][3] precision). The big concerns then are (A) LICENSE, this is the biggest (B) build tooling e.g. Make or CMake, not sure what `fpm` prefers (C) documentation.

[1]: http://www.netlib.org/quadpack/
[2]

[2021-05-16 02:37] ivan-pi commented on #43
QUADPACK was included in SLATEC and is thereby in public domain (at least in the USA). See [this](https://github.com/scipy/scipy/pull/7844#issuecomment-328317501) comment from the Scipy repository. The [website](https://nines.cs.kuleuven.be/software/QUADPACK/) from Leuven University also mentions QUADPACK is included in Octave and that C translations are available in GSL. So open source usage seem

[2021-05-16 03:03] certik commented on #43
We could consider using the quadpack from SciPy. That way we are fine with the license, we'll have the fixes and it can also be useful from the point of view of SciPy and other such libraries to eventually use the quadpack fpm package.

Also, I would recommend to maintain this under the fortran-lang github organization. Many of the issues facing here are identical to fftpack: #40, see the discussi

[2021-05-16 03:51] dhermes commented on #43
RE: SciPy source, the files in https://github.com/scipy/scipy/tree/v1.6.3/scipy/integrate/quadpack are all Fortran 77. The merits of the Burkardt code is that it is in Fortan 90, making it accessible to a wider set of compilers (e.g. `lfortran`). I am very open here on where the source comes from and I would say **NOT** very educated on historical forks since the original QUADPACK in 1981, just tr

[2021-05-16 04:35] certik commented on #43
Good point. The only reason I suggested SciPy is that I know they maintain it and fix bugs and the code should be correct and working. If we use some older unmaintained version, it might have bugs. Aren't there tools to convert fixed form to free form? We could start with the SciPy version, convert to free form, add to modules, etc.

P.S. LFortran will eventually have a parser for fixed form also

[2021-05-16 09:21] awvwgk commented on #43
I added a couple of formatters to the [package index](https://fortran-lang.org/packages/programming) a while ago.

I made good experience with [findent](https://sourceforge.net/projects/findent/), which is primary targeted to parse legacy Fortran and handle dozens of non-standard extensions (packaged on conda-forge [here](https://anaconda.org/conda-forge/findent)). [Camfort](https://github.com/cam

[2021-05-16 22:03] ivan-pi commented on #43
Not sure if we can call it maintenance. The code has been untouched for the last 3 years and there are some [open bug tickets](https://github.com/scipy/scipy/issues?q=is%3Aissue+is%3Aopen+quadpack) however, only one seems to be an actual numerical issue, the rest look like compiler and build setup issues.

The SciPy version of QUADPACK would also benefit from some refactoring (see https://github.c

[2021-05-17 08:22] LKedward commented on #43
Note that Carlos @brocolis already has an fpm package for the original quadpack [here](https://github.com/brocolis/quadpack) which also includes an f90 [interface module](https://github.com/brocolis/quadpack/blob/master/src/quadpack.f90).

[2021-05-17 13:01] certik commented on #43
That's exactly what I had in mind! @brocolis would you be interested in moving the package under fortran-lang so that we can maintain it as a community?

[2021-05-18 01:45] ghost commented on #43
Yes. Someone with appropriate permissions could move it to fortran-lang.

[2021-05-24 16:06] #31 closed, assigned to nobody

[2021-05-26 13:40] ghost commented on #43
My original plan was to write an higher level function `quad` on top of QUADPACK, but since I _read_ the GNU Octave implementation for `quad`, I believe I cannot re-implement it myself under a different license. However, I would be happy to transfer the repository to fortran-lang as it is now.

[2021-05-26 13:58] certik opened #44 "Maintain ODEPACK under fortran-lang"
Similar to FFTPACK (#40) and QUADPACK (#43), we should also maintain ODEPACK under fortran-lang. This has been first mentioned in https://github.com/scipy/scipy/pull/13229, where they have to maintain ODEPACK specific patches inside SciPy.

Instead, we should maintain a new de-facto "upstream" home for ODEPACK, maintaining the code to ensure it compiles with recent Fortran compilers on all archite

[2021-05-26 14:14] ivan-pi commented on #43
The [`scipy.integrate.quad`](https://github.com/scipy/scipy/blob/4ec4ab8d6ccc1cdb34b84fdcb66fde2cc0210dbf/scipy/integrate/quadpack.py#L49) has a very similar interface to the Octave [`quad`](https://octave.sourceforge.io/octave/function/quad.html). The SciPy version is under a BSD-3 license.

But I would suggest we do it jointly under the fortran-lang repository.

[2021-05-26 20:49] ivan-pi commented on #43
I think if you follow the instructions on [transferring repositories](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/transferring-a-repository#transferring-a-repository-owned-by-your-user-account) you could transfer to @milancurcic, and he could put it under the fortran-lang organization.

The other option would be to simply clone the repository, and push

[2021-05-26 21:14] awvwgk commented on #43
Repository transfers (and creation) can currently only be handled by @certik, @milancurcic and @LKedward, either by temporarily raising member privileges or by a two step transfer. I don't think we have yet established a workflow for this process.

[2021-05-26 21:38] certik commented on #43
@LKedward, @milancurcic I would be interested in your feedback on maintaining this under fortran-lang.

[2021-05-27 09:14] LKedward commented on #43
I have no fundamental objections to moving this and other legacy packages to fortran-lang as long as we have one or more persons identified to spearhead the initial modernisation and maintenance required to bring the packages up to standard. (Which it looks like we do here!) In particular, we should strive to maintain a high quality of packages maintained under fortran-lang which I will clarify by

[2021-05-27 13:40] awvwgk commented on #43
Do we know of any users of QUADPACK, who are interested in devendoring their version in favor of a @fortran-lang one? Is anyone involved in this thread using QUADPACK in a production code and willing to offer their code base for testing?

I'm also wondering about the QUADPACK license, is it public domain since it is part of SLATEC? How would we handle and license contributions to this project?

[2021-05-27 14:24] arjenmarkus commented on #43
I am not a user of QUADPACK, but I have experimented with it. In the
various versions I have (one from Netlib and one by John Burkhardt) I see
no regular test programs, like you find with LAPACK, but it might be a nice
community project to set up a comprehensive set of such programs. Within
the framework of fpm we can make them available. And perhaps en passant
provide modern interfaces.

Op do 27

[2021-05-27 15:32] ivan-pi commented on #43
Well there are the possibly thousands of users using it via SciPy and Octave. Also the [NAG quadrature](https://www.nag.com/numeric/cl/nagdoc_latest/html/d01/d01conts.html) routines are based upon QUADPACK. Also the [IMSL library](http://envi.geoscene.cn/help/Subsystems/idl/Content/Reference%20Material/Functional%20List%20of%20IDL%20Routines/IMSLRoutinesQuadrature.htm) seems to be based off QUADPA

[2021-05-27 15:50] certik commented on #43
SciPy is the most obvious one. Yes, some of the SciPy maintainers are open to the idea of using fortran-lang's version, but of course it would depend on the details. I have not seen any objections like "absolutely not". So that means we should do our best, and if we do, there is a good chance of SciPy using it, one way or another.

[2021-05-27 15:57] arjenmarkus commented on #43
I must say the book by Keast en Fairweather is a bit expensive (200 euros
for the e-book version). The other one a bit less so.

By looking at the WIkipedia page I found an update of two of the automatic
integrators in QUADPACK, namely QAG and QAGS, as well as an integrator for
multidimensional functions (TOMS algorithms 691 and 824).

Should there be interest, I also have the implementaton of qua

[2021-05-27 16:01] certik commented on #43
So the next step, as @LKedward said, is to find a person who would be willing to take the lead on this. @dhermes and @brocolis, would you have time for that? The aim should be to maintaining this as a community, under fortran-lang. But it's good if at least initially there is one or two people who push the community to get it done, i.e., takes the lead on this.

One possible path forward is:

* Ta

[2021-05-27 16:09] certik opened #45 "Move minpack under fortran-lang"
A candidate repository to move could be this one:

https://github.com/certik/minpack

[2021-05-27 19:43] jacobwilliams commented on #43
I would highly recommend not moving F77 code to fortran-lang. Or wrapping F77 with a modern interface. I think that is a bad idea. We need to modernize the code to show what can be done with modern Fortran. There is a lot of room for improvement in quadpack. We don't want to be stuck with the old F77 code like some sort of new netlib. Convert it to free-form and then go from there.

EDIT: For exam

[2021-05-27 21:03] certik commented on #43
I think we should discuss this at the next Fortran call.

@jacobwilliams I think we all agree that we want modern Fortran implementations of these basic algorithms, whether as standalone packages and/or part of stdlib. Many of such packages could be maintained under fortran-lang also.

The main problem that we are trying to solve in this thread is that codes depend on these old packages (fftpack,

[2021-05-27 21:58] ivan-pi commented on #43
For the time-being, I have access to digital versions of both books through a university subscription. I am happy to extract the tests from the books.

One problem with modifying the API is that old codes that already use QUADPACK will require refactoring to use our "maintained" version. I think this is not constructive. Any older codes should continue to work, with the minor exception that we ask

[2021-05-28 06:32] arjenmarkus commented on #43
@Ivan Pribec ***@***.***> I agree with your list of goals. And
to prevent lots of work on old code, we might provide an old-style
interface to the modern version of QUADPACK or any other venerable package.

Op do 27 mei 2021 om 23:59 schreef Ivan Pribec ***@***.***>:

[2021-05-29 15:12] jacobwilliams commented on #43
We need to modernize the API. We can't hold up something that requires you to stuff your problem data into `iwork` and `rwork` arrays as any kind of modern way to write code. This does great damage to Fortran anytime anyone sees code like this. It's just a fact. If somebody wants to use the old F77 code and never wants to change anything, that's fine, but those people should not be holding back pr

[2021-05-29 17:41] certik commented on #43
@jacobwilliams, we all agree that we want to use modern API to these legacy libraries. That is not a question.

The question is how to get there. You said not to move the "F77 code to fortran-lang." You also suggested to rather work on a modern Fortran replacement, a "modernized version", and it is my understanding that you do not want to use the legacy code at all, but rewrite from scratch?

I th

[2021-05-30 12:16] awvwgk commented on #43
If the association of @fortran-lang with the legacy QUADPACK is a blocking issue here, than I might have a suggestion to move this forward. https://github.com/quadpack is currently free, I suggest we claim the @quadpack namespace by creating a new open-source organization and move the legacy version there. This allows to cooperatively develop the QUADPACK under a neutral namespace and once we have

[2021-05-31 15:38] jacobwilliams commented on #43
I absolutely support using the legacy code. There's no need to rewrite it from scratch. All I was warning against was being locked into the old api or coding style forever just to make sure that it could be used by somebody who refuses to make even the smallest modifications to their code to use it.

Consider how I made a modernized version of some these spline interpolation routines: https://gith

[2021-05-31 16:09] certik commented on #43
@jacobwilliams perfect! I think the actual plan you just wrote is identical to https://github.com/fortran-lang/fpm-registry/issues/43#issuecomment-849969361, isn't it?

The only technical issue left is "put them in a module or modules", which I would very much prefer, but I don't know if this can cause issues in existing codes like SciPy. But we can help them move over to modules.

@jacobwilliams

[2021-05-31 17:31] jacobwilliams commented on #43
I'm all for it! As long as the goal is to modernize, and not keep them frozen in amber like they are in netlib. :)

Definitely think getting SciPy used to modern fortran should also be a major goal! It is inevitable that they are going to get rid of all that Fortran 77 code that nobody wants to work on. The only question is can we offer up modern alternatives, or are they going to replace it with

[2021-05-31 19:47] certik commented on #43
Good point. I would like to "rejuvenate" these libraries, so they are no more "legacy". Thus fortran-lang.

Regarding stdlib or not --- these libraries are well established, so should live outside. As we modernize them or even do a rewrite as a separate library, we can also think how it should be included in stdlib. I don't know yet if stdlib has to be strictly without dependencies, or if it can h

[2021-05-31 20:20] jacobwilliams commented on #43
I think as `fpm` becomes ubiquitous, it won't even matter so much where a library comes from, it will "just work"!

[2021-06-01 04:52] arjenmarkus commented on #43
How about using a name like "fortran-lang-numerics" for these libraries (at
least I recognise that as a common theme)? We should indeed avoid "legacy",
as that seems synonymous to "old", "ancient", "deprecated",
"to-be-avoided-at-all-cost-but-the-cost-is-currently-too-high-to-indeed-do-so".

Op ma 31 mei 2021 om 22:20 schreef Jacob Williams ***@***.***

[2021-06-16 13:42] certik commented on #43
So we discussed this at the last Fortran call (https://fortran-lang.discourse.group/t/fortran-monthly-call-june-2021/1334) and it seems there were no objections to start to maintain these packages under fortran-lang. We also agreed to keep the original API, but add optional modern Fortran API as appropriate, and that we will figure out some of the other details as we go.

@milancurcic, @LKedward y

[2021-06-16 14:41] LKedward commented on #43
Thanks @certik that sounds good to me

[2021-06-16 15:27] milancurcic commented on #43
I apologize for dragging this further, but I'd like to review the discussion in the call recording and get back to you later today. Overall the plan sounds good to me, but I will have a few questions.

[2021-06-16 15:39] awvwgk commented on #43
For the concrete case of QUADPACK I have a couple of questions.

1. From which source is this project going to start exactly?
    (https://github.com/brocolis/quadpack, https://github.com/scipy/scipy/tree/v1.6.3/scipy/integrate/quadpack, http://www.netlib.org/quadpack/, ...)
2. Which license will changes be contributed under?
   For public domain we might have to require contributors to explicitly

[2021-06-16 16:21] certik commented on #43
Let's wait for @milancurcic to approve, then we can choose either @dhermes or @brocolis (or both) to lead the effort and resolve the questions that @awvwgk posted.

[2021-06-16 16:43] ivan-pi commented on #43
I just noticed @nshaffer (member of fortran-lang) has also previously started an effort to provide a modern QUADPACK package: https://github.com/nshaffer/modern_quadpack

@nshaffer, would you be able to give your thoughts on this thread?

I also just found two re-implementations of the QUADPACK algorithms in C and C++:
* [cquadpack](https://github.com/ESSS/cquadpack)
* [quadpackpp](https://github.

[2021-06-17 03:01] milancurcic commented on #43
I agree, let's do it. My questions and comments are:

1. Is there a quadpack repo that @dhermes and @brocolis agree to start from together? I think that would be ideal.
2. Regarding license, I _think_ the initial content can remain public domain and the additions and changes can be MIT. Does anyone know enough about this to confirm?
3. We should have some criteria to decide which repos should be m

[2021-06-17 03:47] certik commented on #43
Thanks Milan.

@brocolis, @dhermes would one of you (or both!) be willing to take a lead on this?

This first thing to figure out is which repository to use and the license situation.

[2021-06-20 23:08] ghost commented on #43
I currently can't commit many hours to this project. However if we move in small steps, I think it is doable long-term.

[2021-06-22 04:16] nshaffer commented on #43
Thanks for the ping @ivan-pi. I just finished reviewing the call. I think my general opinion on maintaining old, important packages under fortran-lang is very similar to @certik's. But to be explicit, and raise a few points that I think have not come up yet:

I would first like to see the f77 source maintained with minimal modifications. The initial commit can be the source as it is on netlib or i

[2021-06-22 05:33] rouson commented on #43
On Mon, Jun 21, 2021 at 9:16 PM Nathaniel Shaffer ***@***.***>
wrote:

As I mentioned to Ondrej recently, I hope to live to see the day when
Fortran 90 is no longer considered modern.  Fortran 90 is probably older
than some of the people commenting in this thread!  It has become so common
to write Fortran with "90" appended to it that one could be forgiven for
thinking it is a permanent part of th

[2021-06-22 13:54] certik commented on #43
Fortran 90 is no longer considered modern.

I think we are all in agreement Damian. :) When I wrote Fortran 90, I did not mean in on purpose, it's just a habit. After you pointed that out, I try to just say "modern Fortran" instead. However, I have a request for you Damian also. We should not be using the `.f90` extension for the same reason you just pointed out, but rather just the `.f` extension

[2021-06-22 14:06] nshaffer commented on #43
Fair points, Damian. Indeed the Fortran 90 standard is a little older than I am (but only by a little). It's a bad habit of mine to use "f77" and "f90" as shorthand for "legacy" and "modern".

The idea of using submodules is interesting. So the gist would be to declare the interfaces in a module, then either copy-paste or `include` the fixed-form sources in a (fixed-form?) submodule file?

[2021-06-22 14:35] arjenmarkus commented on #43
You can of course do either, but some editing is necessary as of old the
end of a subroutine was characterised by the keyword END and that is
incompatible with the end of a submodule.

Op di 22 jun. 2021 om 16:06 schreef Nathaniel Shaffer <
***@***.***>:

[2021-06-22 15:29] rouson commented on #43
On Tue, Jun 22, 2021 at 6:54 AM Ondřej Čertík ***@***.***>
wrote:

Ondřej, thanks for prompting me to reconsider.  Now that I'm moving to fpm
for every project to which I'm actively contributing, I'll be glad to make
the switch to .f.  I've always been a minimalist so I like the conciseness
of it. :)

I still have a slight preference for choosing something new rather than
overloading an extension

[2021-06-22 15:37] rouson commented on #43
On Tue, Jun 22, 2021 at 7:06 AM Nathaniel Shaffer ***@***.***>
wrote:

Yes, my personal preference is to avoid repeating the interface information
in the procedure definition, but I'm in the minority in this opinion.
Here's an example:

* module:
https://github.com/sourceryinstitute/sourcery/blob/main/src/array_functions_interface.f90
* submodule:
https://github.com/sourceryinstitute/sourcery/blob

[2021-07-28 08:08] awvwgk opened #49 "Workflow is committing artifacts to default branch"
Our current workflow for building the package index is committing it to the default branch. Instead a separate branch or an upload of the package index seems preferable to me. What do you think?

[2021-07-28 08:15] awvwgk commented on #34
I created a pydantic model of the fpm manifest a while ago in [awvwgk/pyfpm](https://github.com/awvwgk/pyfpm), which allows to easily verify the correctness of a package manifest and extract the data in Python. Using this or a similar model would make it easy for the registry handle the package verification.

[2021-07-28 09:16] LKedward commented on #49
Yes I agree, separating the upload of the generated index would be a good idea.

[2021-08-19 05:05] #41 closed, assigned to nobody

[2021-09-08 16:07] awvwgk opened #52 "Renaming default branch"
See https://github.com/fortran-lang/fpm/issues/421 for details.

Please collect references in @fortran-lang projects to files inside this repository such that we can fix those links after renaming.

[2021-09-17 07:03] zoziha opened #54 "Add `fortran-lang/stdlib` package (branch: stdlib-fpm)"
Originally, I wanted to submit `fftpack` (has been passed, #53 ) and `stdlib-fpm` together, but found that it seems that `fpm-registry` does **not support `branch` analysis** like this:

[code]

Is this an issue?

[2021-09-17 08:00] awvwgk commented on #54
Try pretending it is a tag and try again, in git there is no practical difference between the two.

[2021-09-17 08:24] zoziha commented on #54
I tried to submit #55 , and an error occurred in CI (see [CI failed](https://github.com/fortran-lang/fpm-registry/pull/55/checks?check_run_id=3630091554)). @awvwgk  Maybe I misunderstood what you mean.
Do you mean so:

[code]

or,

[code]

[2021-09-18 14:20] #54 closed, assigned to nobody

[2021-09-20 11:03] zoziha commented on #45
`minpack` helped me a lot in solving nonlinear equations.

Will `minpack` also be transferred to the fortran-lang organization for maintenance?
I saw that @jacobwilliams updated [a modernized `minpack`](https://github.com/jacobwilliams/minpack). If the fortran-lang organization intends to maintain `minpack`, maybe we can focus on a same repository, such as: https://github.com/certik/minpack .

[2021-09-20 11:07] awvwgk commented on #45
I don't see an issue with maintaining it under Fortran-lang if there are enough contributors interested in it. We can use this issue to plan this project, @certik can than transfer the project once we agreed here.

[2021-09-20 14:45] certik commented on #45
@jacobwilliams what kind of changes did you do in your modern Fortran minpack? I was looking at the main file:

* https://github.com/jacobwilliams/minpack/blob/b4e671d1692b6f9eb048ba920e97f8a4eda195e3/src/minpack.f90

And that looks pretty good to me. No derived types. :) Unlike with fftpack, I don't have much experience with performance of minpack or how critical it is. It seems the utility there

[2021-09-21 15:31] jacobwilliams commented on #45
I didn't realize you were maintaining a version. What i am currently doing is modernizing the coding style, documentation, unit tests, etc. to get it up to current standards as it currently exists. Then will look into improving the algorithms or adding new ones. I don't promise not to add classes though! :)

[2021-09-21 16:55] certik commented on #45
Well, it seems if we add new algorithms or improve the algorithms besides obvious bug fixes, it should be called differently, what do you think? We can still maintain `minpack` (in the original form, but modernized) and the new library under fortran-lang as two separate repositories.

[2021-09-21 21:59] jacobwilliams commented on #45
Well maybe...or maybe not. I don't like to encourage Fortranners to think that libraries are frozen and will never change. That's part of the reason we are in the mess we are in now. :) Minpack could have been continuously updated over these past 40 years and kept up to date with the last language standards and the latest algorithms, etc instead of being frozen in amber. So I prefer to think we ar

[2021-09-21 22:20] certik commented on #45
Good point. Why don't you join us for the Fortran call tomorrow and we can discuss this.

[2021-09-26 11:06] awvwgk opened #56 "Cannot set branch in registry"
Currently we cannot set the branch we want to fetch in the registry file.

The workaround is to exploit that branches and tags are handled sufficiently similar that we can just pretend that our branch is a tag in things will work. This workaround will be okay with fpm since we are currently not making a distinction between branches and tags in the fpm.

On the other hand, this behaviour can also b

[2021-09-29 08:43] dimpase commented on #44
I record further progress on modernising ODEPACK on https://github.com/scipy/scipy/issues/13222 (and as far as SciPy is concerned, also ARPACK-NG needs updating).

[2021-10-08 18:56] mefuller opened #57 "Adding Cantera to fpm"
Disclaimer:it's been about ten years since I was routinely working in Fortran, but I'm getting back into working with it via Cantera (https://github.com/Cantera/cantera).

I'm curious about getting cantera into fpm - it's primarily written in C++, but has Fortran bindings/interface (https://github.com/Cantera/cantera/tree/main/samples/f90)

So - is this even feasible/reasonable or is cantera outsi

[2021-10-08 20:30] certik commented on #57
@mefuller yes, it is absolutely reasonable to get it into `fpm`. We want to be able to easily use any dependency using `fpm`, no matter if it is originally written in C++, Rust or Python, as long as it has Fortran wrappers we want to be able to use it like any other Fortran module. So how to best proceed?

I just answered a similar question here:

* https://fortran-lang.discourse.group/t/a-yaml-pa

[2021-10-08 20:33] mefuller commented on #57
@certik  Thanks - I'll take a look at this in the coming days and see if I can get a PR started.
Cantera is also in Conda, so that would also be a future option.

It's very exciting to be working on Fortran again

[2021-10-08 20:35] certik commented on #57
@mefuller nice to have you here, thanks for getting in touch with us.

I would recommend to simply assume Cantera is installed using Conda. And then do `fpm` package just for the wrappers and try to figure out how to make it link correctly using `$CONDA_PREFIX`.

We want to add first class Conda support in `fpm`, and perhaps we can use Cantera as the guinea pig.

[2021-10-09 08:39] mefuller commented on #57
@certik on further inspection, unfortunately, the Conda install only presently provides the python interface, so I'll need to run with the locally built version. From here, I'm not sure if there's anything else needed:

I followed the posted instructions and have accordingly opened a pair of PRs:
https://github.com/fortran-lang/fpm-registry/pull/58
https://github.com/fortran-lang/fortran-lang.org/

[2021-12-31 10:13] sumit-158 commented on #27
hey there, I'm new to open source but I would love to contribute in this issue so can I ?

[2022-01-01 05:02] jacobwilliams commented on #43
Well, I guess I had forgotten about this thread. I went ahead and modernized quadpack. See: https://github.com/jacobwilliams/quadpack

This is a full modernization & cleanup of the code (converted to free-form, removed obsolescent features, cleaned up the doc strings, etc.) It's now all in one module. The API is the same though! At least it is for the double precision version. I removed the single

[2022-01-06 09:54] arjenmarkus commented on #27
@sumit-158, contributions, especially wrt documentation, are usually more than welcome ;), but this is a quiet week with people not being all that attentive. I guess that is why there has not been an answer before.

[2022-01-06 10:01] sumit-158 commented on #27
@arjenmarkus I guess so, I have done some good first issue before but can you guide me how to get started with this issue I would be very thankful!!

[2022-01-06 10:10] awvwgk commented on #27
This issue might be a bit more difficult to get started with, as this repository is a loose collection of scripts to maintain the current fpm registry. Describing the status quo of this repo will be a good start for the docs, but preferably we want to capture the actual intent.

[2022-04-04 07:28] zoziha commented on #45
Should we now register [the `minpack` under the fortran-lang namespace](https://github.com/fortran-lang/minpack) to the fpm-registry?

Or should we wait for `minpack` to be marked with a pre-release/release tag?

[2022-04-04 14:20] milancurcic commented on #45
@zoziha I think so.

[2022-08-19 23:37] awvwgk commented on #45
This is resolved.

[2022-08-19 23:37] #45 closed, assigned to nobody